.product-list {
    display: grid;
}

.product-card {
    display: flex;
}

.wmsTable {
    width: 100%;
}

.selectionItems {
    display: flex;
}
.selectedItemTable {

}

.documentFields {

}

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    display: flex;
    flex-direction: column;
}

.form input {
    padding: 10px 20px;
}